现在，你有一份中国五个城市的 pm2.5 数据集，接下来该怎么办呢？

一个可供参考的数据分析框架：

1. 提出问题：请提出你感兴趣的问题，这个问题需要能够由现有的数据进行回答。

2. 筛选数据：写出合适的数据条件，并根据这些条件筛选出合适的数据。

3. 结论和可视化：能够使用正确的可视化回答提出的问题。

4. 拓展思考：提出一个你感兴趣的场景，并进行思考。

## 一、观察数据

数据集包括 5 份 csv 文件，是中国五个城市（北京、上海、成都、广州、沈阳）2010 年 1 月 1 日至 2015 年 12 月 31 日的空气和气象数据，数据中有大量缺失值 NaN, 数据列名包括：

- No: 行号
- year: 年份
- month: 月份
- day: 日期
- hour: 小时
- season: 季节
- PM_: pm2.5的浓度（ug/m^3）
- DEWP: 露点（摄氏温度）指在固定气压之下，空气中所含的气态水达到饱和而凝结成液态水所需将至的温度。
- TEMP: Temperature（摄氏温度）
- HUMI: 湿度（%）
- PRES: 气压（hPa）
- cbwd: 组合风向
- lws: 累计风速（m/s）
- precipitation: 降水量/时（mm）
- iprec: 累计降水量（mm）

In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

以上海数据为例，使用 pandas 的 read_csv 函数导入，并使用 head 查看前五行、tail 查看后五行

In [5]:
shanghai_data = pd.read_csv('ShanghaiPM20100101_20151231.csv')

In [8]:
shanghai_data.head()

,No,year,month,day,hour,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,-6.0,59.48,1026.1,1.0,cv,1.0,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,-6.0,59.48,1025.1,1.0,SE,2.0,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,-7.0,59.21,1025.1,0.0,SE,4.0,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,-6.0,63.94,1024.0,0.0,SE,5.0,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,-6.0,63.94,1023.0,0.0,SE,8.0,0.0,0.0

In [9]:
shanghai_data.tail()

,No,year,month,day,hour,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
52579,52580,2015,12,31,19,4,86.0,82.0,90.0,-1.0,65.13,1035.0,5.0,NE,15.0,0.0,0.0
52580,52581,2015,12,31,20,4,83.0,93.0,86.0,1.0,70.27,1035.0,6.0,NE,19.0,0.0,0.0
52581,52582,2015,12,31,21,4,85.0,90.0,95.0,1.0,70.27,1036.0,6.0,NE,22.0,0.0,0.0
52582,52583,2015,12,31,22,4,83.0,86.0,92.0,0.0,70.06,1035.0,5.0,NE,25.0,0.0,0.0
52583,52584,2015,12,31,23,4,NaN,77.0,NaN,0.0,70.06,1035.0,5.0,NE,27.0,0.0,0.0